@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        src: url('./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
    }

    @font-face {
        font-family: 'League';
        src: url('./assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'Molengo';
        src: url('./assets/fonts/Molengo/Molengo-Regular.ttf');
    }

    @font-face {
        font-family: 'Outfit';
        src: url('./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf');
    }

    @font-face {
        font-family: 'Palanquin';
        src: url('./assets/fonts/Palanquin_Dark/PalanquinDark-Regular.ttf');
    }
}

body {
    background-color: black;
    color: #d8dedf;
}

.my-bg-gradient {
    border-radius: 9999px;
    background: radial-gradient(#B7BA31 -80%, rgba(185, 113, 61, 0) 60%);
}